@primaryRed: #ea6f5a;

body, html, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.clearfix::before,.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after{
  clear: both;
}
.clearfix {
  zoom: 1;
}

// 滚动条样式
::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fafafa;
}
::-webkit-scrollbar-track:hover::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e1e1e1;
  width: 6px;
  height: 8%;
  border: 2px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #d5d5d5;
}
::-webkit-scrollbar-thumb:active {
  background-color: #c8c8c8;
}

@font-face {
  font-family: 'iconfont';  /* project id 761076 */
  src: url('//at.alicdn.com/t/font_761076_mwfxklvu7rp.eot');
  src: url('//at.alicdn.com/t/font_761076_mwfxklvu7rp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_761076_mwfxklvu7rp.woff') format('woff'),
  url('//at.alicdn.com/t/font_761076_mwfxklvu7rp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_761076_mwfxklvu7rp.svg#iconfont') format('svg');
}

.iconfont {
  font-family: iconfont;
}
